{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <p>Voir le Mail dans :
        <a href="http:\\localhost:8081">Maildev</a>
    </p>
{% endblock %}